h2{
    color: rgb(228, 209, 146);
    font-size: 2em;
    font-weight: 600;
  }
  padding: 2rem;
  background-color: #80558C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  a{
    color:rgb(228, 209, 146);
    text-decoration: none;
    margin-right: 1rem;
  }
  a:hover{
    color: #AF7AB3;
    transition: 400ms ease;
  }
  .links{
      width: 100%;
      display: block;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 30%;
      left: 0;
      right: 0;
      text-align: center;
      a{
        font-size: 2rem;
        margin-top: 1rem;
        color: white;
      }
    }
  .links.active{
      width: 100%;
      display: block;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 30%;
      left: 0;
      right: 0;
      text-align: center;
      a{
        font-size: 2rem;
        margin-top: 1rem;
        color: white;
      }
    }
  .Hbtn{
    @media (min-width: 768px){
      display: none;
    }
  }